# Environment settings for FastAPI backend
APP_NAME="Technable Machine API"
DEBUG=True
DEVICE="cpu" # Use 'cuda' if GPU is available
KMP_DUPLICATE_LIB_OK="TRUE" # Prevents Anaconda OpenMP crashes

# Paths
DATA_DIR="data"
SAVED_MODELS_DIR="saved_models"
